.dividerForm {
  border-color: rgba(235, 235, 235, 0.555) !important;
}

.divider {
  border-color: rgba(235, 235, 235, 0.788) !important;
}

td {
  padding: 0 19px !important;
  font-size: 12px !important;
  font-family: "MikhakBold" !important;
  button {
    padding: 0 !important;
  }
}
th {
  padding: 6px 9px !important;
}
